<!-- SIDEBAR -->
<section id="sidebar" ng-init="ToolBar()">
  <a href="#" class="brand ms-3 mt-2">
    <img src="/front_end/assets/2.png" alt="" style="width: 150px" />
    <span class="text ms-2">Articles</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a href="#approve-article">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Approve article</span>
      </a>
    </li>
    <li>
      <a href="#category">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Category</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu top">
    <li>
      <a href="#signup">
        <i class="bx bxs-log-in"></i>
        <span class="text">Sign out</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
    <form>
      <div class="form-input">
        <div
          class="icon"
          style="
            flex-grow: 1;
            padding-top: 6px;
            padding-left: 15px;
            height: 100%;
            border: none;
            background: var(--grey1);
            border-radius: 36px 0 0 36px;
            width: 30px;
            color: black;
          "
        >
          <i class="bx bx-search"></i>
        </div>
        <input
          type="search"
          placeholder="What are you looking for?"
          ng-model="key"
        />
        <button type="submit" class="search-btn">
          <a href="#search-result?key={{key}}" style="color: aliceblue"
            >Search</a
          >
        </button>
      </div>
    </form>

    <input type="checkbox" id="switch-mode" hidden />

    <!-- dropdown -->
    <div class="dropdown" style="padding-left: 5px">
      <a
        href="#"
        class="profile"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="/front_end/assets/people.png" />
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#/profile" style="color: black"
            ><i
              class="bi bi-person-lines-fill"
              style="color: var(--maumenu); padding-right: 7px"
            >
            </i>
            <span>Profile</span></a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#" style="color: black"
            >Another action</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#" style="color: black"
            >Something else here</a
          >
        </li>
      </ul>
    </div>
    <!-- <a href="#/users" class="profile">
      <img src="/front_end/assets/people.png" />
    </a> -->
  </nav>
  <!-- NAVBAR -->

  <main ng-view></main>
</section>
<!-- CONTENT -->
